@media screen and (min-width:900px){
	
	
	*{}
	
	.absolute-container{
		position: absolute;
		/*! top: 0; */
		left: 40%;
		right: 50%;
		/*! bottom: 0; */
		display: block;
		margin: 0 auto;
	}
	.login{background-color: #fff;padding: 5px 30px;border-radius: 30px;margin-left: 1em;}
	
	.big-add--div{}
	.big-add--div h2{}
	
	.video-wrapper{
		width: 100%;
		height: 60vh;
		overflow: hidden
	}
	
	.view .video-wrapper{
		width: 100%;
		height: 60vh;
	}
	.view .video-wrapper::after{
		display: none;
	}
	.video-wrapper::after{
		content: "";
		
		width: 100%;
		height: 100%;
		display: block;
		background-image: linear-gradient(0deg,#000, transparent);
		position: absolute;
		bottom: 0;
	}
	.video-wrapper video{
		width: 100%;
	}
	
	
	
	.mobile--menu{
		display: none;
	}
}

@media screen and (max-width: 900px){
	*{}
	main{
		visibility: visible;
		opacity: 1;
	}
	.menu-open.logged-in main{
		visibility: hidden;
		opacity: 0;
		transition: opacity;
		transition-delay: 1s;
	
	}
	.logged-in .log--in{
	  border:1px solid	#000;
		min-width: 250px;
		max-width: 350px;
		padding: 1em;
		padding-left:0;
		background-color: #fff;
		margin: 1em;
		border-radius: 30px;
	}
	
	.subs{
		display: flex;
		margin:1em 0;
		
	}
	
	.subs a{
		background-color: #000;
		padding: 5px 20px;
		margin-right:1em;
		border-radius: 30px;
		color: #fff;
	}
		.menu-wrapper .menu{
	flex-direction: column;
	}
	.menu-open .menu-wrapper{
		transform: translateX(0);
		transition: transform 0.2s ease-in;
	}
	.menu-wrapper{
				
	background-color: sandybrown;
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	flex-direction: column;
	width: 100vw;
	transform: translateX(100%);
	transition: transform 0.3s ease;
	}
	
		.menu .menu--item{
		
	margin: 0;
	font-size: 2.8em;
	font-weight: 900;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	padding: 15px;
	letter-spacing: -1.3px;
	}
}


@media screen and (min-width: 756px) and (max-width: 890px){
	*{}
	
	.mobile--menu{
		
	}

}


@media screen and (max-width: 420px){
	*{}
	
	.custom--slide{
		
	height: 70vh;
	}
	.slide--item{
		
	height: 250px;
	}
	
	.item-content .title{
		margin-bottom: 10px;
	}
	.navigation{
		
	background-color: rgba(255,255,255,0.4);
	backdrop-filter: blur(20px) saturate(200%);
	border-bottom: 1px solid #ffffff47;
	}
	.menu--open	.navigation .menu-wrapper{
		
	}
	
	.menu-open .navigation .menu-wrapper{
		transform: translateX(0);
		transition: transform 0.2s ease-in;
	}
	.navigation .menu-wrapper{
		
	background-color: sandybrown;
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	flex-direction: column;
	width: 100vw;
	transform: translateX(100%);
		transition: transform 0.2s ease;
	}
	
	.hero .category{
		
	width: 40vw;
	}
	
	.current{
		 
	flex-direction: column;
	overflow: hidden;
	}
	.current img{
		
	width: auto;
	}
	
	.current--content{
		
	margin: 0;
	}
	
	.address{
		
	margin-top: 2em;
	}
	
	.copyright{
		
	margin: 1em auto;
	}
	
	footer{
		
	padding: 1em 0;
	}
	
	.current p{
		line-height: 1.2;
		margin-bottom: 5px;
	}
	
	.big-add--div{
		height: 30vh;
		width: auto;
		background-color: azure;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
	}
	
	.big-add--div h2{
		
	font-weight: 900;
	font-style: italic;
	font-size: 7em;
	}
	
	.banking{
		margin-top:2em;
	}
	
	.menu .menu--item{
		
	margin: 0;
	font-size: 2.8em;
	font-weight: 900;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	padding: 15px 0;
	letter-spacing: -1.3px;
	}
	
	.menu{
		
	padding: 1em;
	flex-direction: column;
	}
	
	.menu-wrapper .subs{
		
	margin: 0;
	padding: 1em;
	}
	.menu-wrapper .subs a{
		
	font-size: 2em;
	display: block;
	font-weight: bold;
	}
	
	.menu-wrapper .subs .login{
		
	}
	
	.menu-wrapper .subs .search{
		
	}
	
	.item-content .category{
		
	padding: 3px;
	display: block;
	width: 100%;
	margin: 1em 0;
	}
	
	.meta-wrapper{
		
	flex-direction: column;
	text-align: center;
	}
	
	.slide--item img{
		
	}
}

@media screen and (max-width: 340px){
	*{}
}